<span id="beta" class=" label label-warning" style="background-color: #d87406; font-eight: normal; position: fixed; top: 9px; left: 5px; float:left; z-index: 33" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="No guarantees in the beta version. You should always keep a backup of your data locally">
	Beta <i class="icon-warning-sign icon-white"></i>
</span>
<script>
	$('#beta').tooltip()
</script>
