<html>
<head>
	<title>Invoiceador</title>

	<%- include header %>

</head>
<body>

	<div id="main-container" class="container">
		<h1>:( &nbsp;&nbsp;<%=error.status %></h1>
		<h2><%=error.message %></h2>
		<p>Back to <a href="/">home</a></p>

	</div>

</body>
</html>