<br/><br/><br/>
<div class="row-fluid footer" style="text-align: center; color: #fff; background-color: #333; padding: 10px">
	<div class="span12">
		<p>2013. All rights reserved <small>(except where otherwise stated)</small></p>
		<small>
		<p>Credits: Twitter Bootstrap, Bootswatch, FontAwesome, jQuery. The bull stencil image is public domain<p>
		</small>
	</div>
</div>


