<div class="row">

		<div class="masthead">

	    	<div class="hero-unit">
		        <h1>Invoiceador!</h1>
		        <p>The simplest invoice creation system. No nead to sign up. Scroll down to generate your invoice.</p>
		       	<br/>

		        <div class="row-fluid">
		        	<div class="span5 actions">	
		        		<form class="form-horizontal" action='' method="POST">
		
						    <legend>Stay tuned</legend>
						    <p>Useful for future private beta access...</p>
						    <input type="text" class="large-input" placeholder="Email address">
						    <button type="submit" class="btn btn-small btn-primary">Submit</button>
			
						</form>	
		        	</div>
		        	<div class="span2"></div>
		        	<div class="span5 actions">	
		        		 <legend>Create an invoice now!</legend>
		        		 <p>(No login required)</p>
		        		 <h1>&#x261f;</h1>
		        	</div>
		        </div>
		     </div> 
		</div>
	</div>