<header class="jumbotron preview" id="overview">
  <div class="row">
    <div class="span6">
      <h1>Invoiceador!</h1>
      <p class="lead">The simplest invoice creation system</p>
      <p>No nead to sign up. Scroll down to generate your invoice.</p>
    </div>
    
  </div>
  
</header>
