<header class="jumbotron preview" id="overview">
	
  	<div class="row-fluid">
    	<div class="span8">
      		<h1><img src="/assets/images/bull.svg" style="width: 100px; margin-top: -15px"> Invoiceador!</h1>
      		<p class="lead">The easiest way to invoice other people</p>

      		<p>No nead to sign up. Scroll down to generate your invoice.</p>
   		</div>
   		<div class="span4 well well-tuned">
   			<h4>Stay tuned</h4>
   			<p><small>Learn about releases and special offers</small></p>
			<form action="http://herokuapp.us7.list-manage.com/subscribe/post?u=5e7d74fdae3113554f01e924e&amp;id=ed33277388" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input type="email" value="" name="EMAIL" class="email input-medium" id="mce-EMAIL" style="margin-bottom: 0;" placeholder="Email"  required>
				<button type="submit" class="btn btn-mini">Submit</button>
			</form>
   		</div>
  	</div>
</header>
