<header class="jumbotron preview" id="overview">
  	<div class="row">
    	<div class="span6">
      		<h1>Invoiceador!</h1>
      		<p class="lead">The easiest way to invoice other people</p>

      		<p>No nead to sign up. Scroll down to generate your invoice.</p>
       		<div class="popover-markup">
       			<a href="#" class="trigger" data-placement="right">Stay tuned.</a>
       			Learn about new features and 
				<div class="head hide">Enter yout email address...</div>
				<div class="content hide">

					<form class="form-search">
						<input type="text" class="input-medium" placeholder="Email" />
		  				<button type="submit" class="btn btn-mini">Submit</button>
					</form>
				</div>
   			</div>
   		</div>
  	</div>
</header>
