<div id="modal_options" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_options_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal_options_label">Invoice Options</h3>
    </div>
    <div class="modal-body">
       <ul class="nav">			
           <li><span class="subtitle">Locale:</span> UK (£)</li>
           <li><span class="subtitle">VAT:</span> <input type="checkbox" id="hasVat" checked="checked"/></li>
       </ul>
   </div>
   <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>