
	<section class="subhead" id="overview">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li class="strong"><a href="/"><img src="/assets/images/bull.svg" style="width: 30px; margin-top: -6px"> Invoiceador!</a></li>
				<li><a href="/inv/<%=hash %>/edit"><i class="icon-pencil"></i> Edit</a></li>
				<li><a href="/<%=invoiceObject.public_hash %>?plain=y&print=y"><i class="icon-print"></i> Print</a></li>
				<li><a href="/<%=invoiceObject.public_hash %>.pdf"><i class="icon-download-alt"></i> Get as PDF</a></li>
				
				<li class="popover-markup">
   					<a id="popover-share" class="trigger" data-placement="bottom"><i class="icon-share"></i> Share <b class="caret"></b></a> 
   					<div class="head hide">Share</div>
				    <div class="content hide">
				       <p>TODO</p>
				    </div>
				</li>
				<li><a>
					<span class="label label-info" style="font-size: 70%; font-weight: normal"><i class="icon-eye-open icon-white" ></i> preview</span>
				</a></li>

			</ul>


		</div>

	</section>

