<section class="subhead" id="overview">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li class="strong"><a href="/"><img src="/assets/images/bull.svg" style="width: 30px; margin-top: -6px"> Invoiceador!</a></li>
				<li><a href="/<%=invoiceObject.public_hash %>?plain=y&print=y"><i class="icon-print"></i> Print</a></li>
				<li><a href="/<%=invoiceObject.public_hash %>.pdf"><i class="icon-download-alt"></i> Get as PDF</a></li>
			</ul>


		</div>

	</section>