.subnav .disabled {
	opacity: 0.4;
}

.popover {
	width: 400px;
	max-width: 400;
}
.popover-markup input[type=text] {
	width: 100%;
}

.popover-markup .caret {
margin-top: 8px;
margin-left: 2px;
}

a.remove-button {
	float: right;
	color: #666;
}
.invoice #vat_rate {
	width: 40px;
}

textarea {
	background-color: #fbfbfb;
}
td.number, input.number {
	text-align: right;
}

input.large-input {
	height: 30px;
}
.invoice input {
	width: 100%;
}
.invoice  input.shorter {
	max-width: 150px;
}

.invoice input[type=text] {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #999;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #f6f6f6;
	
}
.invoice input[type=text]:focus {
	background-color: #ffffcc;
}
.invoice input.h1_input {
	font-size: 1.8em;
	height: 2em;
	font-weight: bold;
	vertical-align: middle;
}

.table-borderless, .table-borderless td,
.table-borderless th {
	border: 0;
}

.strong { 
	font-weight: bold;
}

.date_section {
	padding-left: 20px;
	padding-top: 20px;
}

.controls {
	display: none;
}
.actions_column {
	min-width: 120px;
}

td.right, th.right, p.right, div.right, input.right, .right {
	text-align: right;
}



input#invoice_vat_rate {
	width: 50px;
}

#additional_information {
	height: 100px;
	width:100%;
}

.hero-unit legend {
	font-weight: bold;
	font-family: "KaushanScriptRegular";
}

div.dropdownCont {	
	background-color: #e5e5e5;
	display: none;
	padding: 10px 10px 10px 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0px solid #eee;
}

div.dropdownCont input[type=text] {
	width: 100%; 
	max-width: 400px;
}

@font-face {
	font-family: 'KaushanScriptRegular';
	src: url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.eot');
	src: url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.woff') format('woff'),
	url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.ttf') format('truetype'),
	url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.svg#KaushanScriptRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

.mini-title {
	font-weight: bold;
	font-size: 13px;
	color: #666;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

ul.basic-list {
	list-style: none;
	margin-left: 0;
}



