#content a.noclick {
	border: 1px solid #999;
	background-color: #aaa;
}
#content  input.number {
	text-align: right;
}
#vat_rate {
	width: 40px;
}
#content input[type=text] {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #999;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#content input[type=text]:focus {
	background-color: #ffffaa;
}


#header {
	height: 44px;
	background: #3D6AA2;
}



.table-borderless, .table-borderless td,
.table-borderless th {
	border: 0;
}

#content input.h1_input {
	font-size: 1.8em;
	height: 2em;
	font-weight: bold;
	width: 450px;
	vertical-align: middle;
}

body {
	padding-bottom: 40px;
}

th{
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	color: #666;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.subtitle {
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	color: #666;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.nav-header-darker {
	color: #666;
}

input.large-input {
	height: 30px;
}

#content input {
	width: 100%;
}

#content input.shorter {
	width: 100px;
}

.recipient, .date_section {
	width: 300px;
}

.controls {
	display: none;
}
#content {
	margin-left: 30px;
}
.actions_column {
	min-width: 120px;
}
td.right, th.right, p.right {
	text-align: right;
}
#main-container {
	padding-top: 20px;
	max-width: 900px;
}

div.alberto-nav {
	float: left;
	width:100%;

}

div.navbar-fixed-topx.alberto-nav {
	top: 0;
	left:0;
	position: fixed;
	width: 100%;

}

#additional_information {
	height: 100px;
	width:100%;
}
li.title {
	font-weight: bold;
	color: #333;
}
.container {
	margin: 0 auto;
	max-width: 1000px;
}
.navbar .nav>li>p {
	float: none;
	padding: 10px 15px 10px;
	color: #777777;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
	margin-bottom: 0;
}

.navbar .nav>li>a:hover {
	border-bottom: 1px dotted #999;
	padding-bottom: 0px;
}
.hero-unit legend {
	font-weight: bold;
	font-family: "KaushanScriptRegular";
}


@font-face {
	font-family: 'KaushanScriptRegular';
	src: url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.eot');
	src: url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.woff') format('woff'),
	url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.ttf') format('truetype'),
	url('/external/kaushan-script-fontfacekit/KaushanScript-Regular-webfont.svg#KaushanScriptRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

.actions {
	text-align: center;
}

